@{
    ViewBag.Title = "Badge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2
<h2>Badge Features:</h2>
<br/>
<li> Badge Samples - Default</li>
<li> Theme - Bootstrap-Theme</li>
<br/>
<div id = "ControlRegion">
              <div class='badgeContainer'>
        <h1>Badge Component <span class="e-badge e-badge-primary">New</span></h1>
</div>
<style>
    .badgeContainer {
        width: 500px;
        border: 3px solid #eceff1;
        border-radius: 3px;
        justify-content: center;
        margin: 20px auto;
        padding: 10px;
    }
    .badgeContainer h1 {
        text-align: center;
    }
</style>
</div>
