@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Políticas de privacidad"];
}
@*<h2>@ViewData["Title"]</h2>*@


@*<p>Use this page to detail your site's privacy policy.</p>*@
