@using Syncfusion.EJ2
@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var asyncSettings = new Syncfusion.EJ2.Inputs.UploaderAsyncSettings { SaveUrl = "/Upload/Save", RemoveUrl = "/Upload/Remove" };
}
<h2>Upload Features:</h2>
<br/>
<li> Upload Samples - Default</li>
<li> Theme - Bootstrap-Theme</li>
<br/>
<div id = "ControlRegion">
              <div class="col-lg-8 control-section">
        <div class="control_wrapper">
            <ejs-uploader id="UploadFiles" removing="onFileRemove" dropArea=".control-fluid" asyncSettings="@asyncSettings">
            </ejs-uploader>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <div id="property" title="Properties">
            <div style="margin-left: 50px; padding-top:25px;">
                <ejs-checkbox id="checkAutoUpload" label="Auto Upload" checked="true" change="onChange"></ejs-checkbox>
            </div>
        </div>
    </div>
<style>
    .control_wrapper {
        max-width: 400px;
        margin: auto;
    }
    .e-upload {
        width: 100%;
        position: relative;
        margin-top: 15px;
    }
    .control_wrapper .e-upload .e-upload-drag-hover {
        margin: 0;
    }
</style>
<script>
    function onFileRemove(args) {
        args.postRawFile = false;
    }
    var dropElement = document.getElementsByClassName('control-fluid')[0];
    function onChange (args) {
        var uploadObj = document.getElementById("UploadFiles")
        uploadObj.ej2_instances[0].autoUpload = args.checked;
        uploadObj.ej2_instances[0].clearAll();
    }
</script>
</div>
